<p class="lead">Sign up with Facebook to [why sign up ?]</p>
<a class='btn btn-large facebook-connect-button' href='<%= user_omniauth_authorize_path(:facebook) %>'>
  <i class="icon-facebook-sign"></i>
  <%= t(:login_with_facebook) %>
</a>
