<p class="lead">Link your GitHub account to [why link ?]</p>
<a class='btn btn-large github-connect-button' href='<%= user_omniauth_authorize_path(:github) %>'>
  <i class="icon-github"></i>
  <%= t(:link_github) %>
</a>
