<div class="supersize-me">
  <h1> Welcome to <%= t(:app_title) %> </h1>
  <a class='btn btn-large fb-connect-button' href='<%= user_omniauth_authorize_path(:facebook) %>'>
    <i class="icon-facebook-sign"></i>
    <%= t(:login_with_facebook) %>
  </a>
</div/>
