<div class="home-center">
  <h1> Welcome to CoderHive </h1>
  <a class='btn btn-large btn-info' href='<%= user_omniauth_authorize_path(:facebook) %>'>
    <i class="icon-facebook-sign"></i>
    Login with Facebook
  </a>
</div/>
