$backgroundImageUrl: "http://www.cageapp.com/public-assets/img/index/backgrounds/1.jpg";

body {
  background-image: url($backgroundImageUrl);
}

.sign-up {
  background: #1c527d;
  color: #fff;
  width: 200px;
  a {
    text-decoration: none;
  }
}

@mixin connect-button {
  color: white;
  width: 230px;
}

.facebook-connect-button {
  @include connect-button;
  background-color: #3B5998;
}
.github-connect-button {
  @include connect-button;
  background-color: #1AA752;
}

.supersize-me {
  margin: 60px 0;
  text-align: center;
  h1 {
    font-size: 64px;
    line-height: 1;
    margin: 10px auto;
  }
}
